# x86_64 profile additions.
# Based on VIKINGYFY/OpenWRT-CI Config/X86.txt.

CONFIG_TARGET_KERNEL_PARTSIZE=128
CONFIG_TARGET_ROOTFS_PARTSIZE=1024
CONFIG_TARGET_ROOTFS_EXT4FS=y
CONFIG_GRUB_IMAGES=y
CONFIG_GRUB_EFI_IMAGES=y
CONFIG_VMDK_IMAGES=y

# Common x86 Wi-Fi cards used in soft-router builds.
CONFIG_PACKAGE_kmod-mt7915e=y
CONFIG_PACKAGE_kmod-mt7921e=y
CONFIG_PACKAGE_kmod-mt7925e=y
CONFIG_PACKAGE_kmod-mt7921-common=y
CONFIG_PACKAGE_kmod-mt792x-common=y
CONFIG_PACKAGE_kmod-mt7915-firmware=y
CONFIG_PACKAGE_kmod-mt7916-firmware=y
CONFIG_PACKAGE_kmod-mt7921-firmware=y
CONFIG_PACKAGE_kmod-mt7922-firmware=y
CONFIG_PACKAGE_kmod-mt7925-firmware=y
CONFIG_PACKAGE_wpad-openssl=y

# x86 hardware monitoring/watchdog modules.
CONFIG_PACKAGE_kmod-hwmon-w83627ehf=y
CONFIG_PACKAGE_kmod-hwmon-w83627hf=y
CONFIG_PACKAGE_kmod-w83627hf-wdt=y
